@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap");

:root {
  --text-color: #333333;
  --text-light-color: #828282;
  --bg-color: #f4f4f4;
  --white-color: #ffffff;
  --btn-color: #b33e00;
  --btn-hover-color: #b33e00;
  --text-blue-color: #0072b1;
  --bg-blue-color: #30b5ff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: var(--bg-color);
  scroll-behavior: smooth;
  color: var(--text-color);
}
.container {
  display: flex;
}

.aside-content {
  position: fixed;
  height: 100vh;
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.main-sub-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.brand-logo {
  width: 150px;
  height: 50px;
  margin: 20px auto;
}

.brand-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.link-items {
  margin-bottom: 15px;
}

.link {
  list-style: none;
  margin: 10px auto;
  padding: 10px 15px 10px 5px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--white-color);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.fa-th-large,
.fa-heart-o,
.fa-signal,
.fa-bell-o {
  color: var(--text-light-color);
  padding-left: 45px;
  font-family: "FontAwesome", "Nunito", sans-serif;
}

.link:hover,
.fa:hover {
  background-color: var(--bg-blue-color);
  color: var(--text-blue-color);
}

.link-ref {
  text-decoration: none;
  cursor: pointer;
  margin-left: 20px;
  color: var(--text-light-color);
  font-size: 16px;
  font-weight: 500;
}

.link-ref:hover {
  color: var(--text-blue-color);
  background-color: var(--bg-blue-color);
}

.btn-profile {
  display: flex;
  text-decoration: none;
  color: var(--text-color);
  font-size: 18px;
  font-weight: 500;
  width: 80%;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  border-radius: 10px;
  padding: 20px;
  margin: 100px auto;
}

.btn-profile:hover {
  background-color: #e0e0e0;
}

.btn-donate {
  width: 80%;
  height: 35px;
  background-color: var(--btn-color);
  color: var(--white-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  margin: 10px auto;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn {
  width: 150px;
  height: 30px;
  background-color: var(--btn-color);
  color: var(--white-color);
  text-align: center;
  font-size: 14px;
  font-weight: 200;
  margin: 10px auto;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover,
.btn-donate:hover {
  background-color: var(--btn-hover-color);
}

.profile-link-img,
.profile-link-icon {
  margin: 10px 5px;
}

.profile-link-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}

.container {
  position: relative;
  width: 100%;
}

/* <!-----DASHBOARD-ACTIVATION NAVBAR SECTION ---> */
.main {
  position: absolute;
  width: 75vw;
  left: 21vw;
  flex: 6;
  margin: 40px auto;
  transition: 0.5s;
}
.main .topbar {
  width: 100%;
  background: #f4f4f4;
  height: 60px;
  display: flex;
  justify-content: space-between;
}
.topbar h1 {
  font-size: 36px;
  line-height: 124%;
  color: #0072b1;
  font-weight: bold;
}
.search {
  position: relative;
  width: 400px;
}
.search label {
  position: relative;
  width: 100%;
}
.search label input {
  width: 100%;
  height: 35px;
  background: #f4f4f4;
  opacity: 0.4;
  border: 0.5px solid #222222;
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(0, 85, 224, 0.13);
  border-radius: 4px;
  margin-top: 10px;
  margin-right: 30%;
  padding-left: 10px;
}
.search label .fa {
  position: absolute;
  top: 5px;
  left: 70%;
  cursor: pointer;
}
.categories {
  width: 100%;
  height: 35px;
  background: #f4f4f4;
  color: #828282;
  padding: 10px;
  margin-top: 10px;
}

.details table {
  position: relative;
  width: 100%;
  margin: 30px auto;
  font-family: "Nunito", sans-serif;
  border-collapse: collapse;
  color: var(--text-color);
  padding: 20px 40px;
  background: #fcfcfc;
  box-shadow: 0px 5px 10px rgba(111, 111, 111, 0.16);
  border-radius: 8px;
}
td,
th {
  border: none;
  text-align: left;
  padding: 8px;
}

tr,
td {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 600;
}
tr:hover,
tr:nth-child(even):hover {
  background-color: var(--text-blue-color);
  color: var(--white-color);
}

th {
  font-size: 20px;
  font-weight: 600;
  padding: 10px 20px 20px 20px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.sucessful {
  color: #27ae60;
}
.failed {
  color: #e70b0b;
}
.pagination_section {
  display: flex;
  justify-content: flex-end;
}
.pagination_section a {
  border: solid 2px #d7d7d7;
  border-radius: 0.2rem;
  color: #5d54d8;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  padding: 3px;
}

/* mobile view */
@media screen and (max-width: 768px) {
  .container{
    width:100%;
  }
  .burger {
    
    display: block;
    margin-left: 85%;
    margin-top: 20px;
  }
  .header{
    
    width: 100%;
  }


  .burger div {
    width: 25px;
    height: 3px;
    background-color: var(--text-blue-color);
    margin: 3px;
    transition: all 0.3s ease;
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 3.5px);
  }

  .toggle .line2 {
    opacity: 0;
  }

  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -3.5px);
  }

  .container {
    display: block;
    width: 100%;
  }

  .aside-content {
    z-index: 1;
    position: fixed;
    top: 0;
    left: -100%;
    bottom: 0;
  }

  .aside-content.active {
    left: 0;
  }

  .brand-logo {
    width: 110px;
    height: 40px;
  }

  .link-items {
    margin: 15px 0;
  }

  .btn-donate {
    width: 75%;
  }

  .btn {
    width: 120px;
  }
  .main {
    position: relative;
    width: 90%;
    left: 0;
  }
  .topbar h1 {
    font-size: 24px;
    line-height: 60%;
  }

  .categories {
    width: 100%;
    height: 25px;
    padding: 0px;
    margin-top: 0;
  }
  .search label input {
    width: 50%;
    height: 25px;
    margin-top: 0px;
    margin-left: 60px;
    padding-left: 10px;
  }
  .search label .fa {
    position: absolute;
    top: 5px;
    left: 60%;
    cursor: pointer;
  }
  table {
    width: 100%;
    margin: auto;
    
  }

  td,
  th {
    padding: 10px 5px;
  }

  tr,
  td {
    padding: 10px 5px;
    font-size: 10px;
    font-weight: 600;
    text-align: center;
  }

  th {
    font-size: 10px;
    padding: 8px 5px;
  }
}
