@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap");

body {
  font-family: "Nunito", sans-serif;
  background-color: #e0e0e0;
}

.btn1 {
  background: transparent;
  border: 1px solid #0072b1;
  width: 110px;
  height: 34px;
  border-radius: 4px;
  color: #0072b1;
  font-weight: bold;
  font-size: 12px;
}

.btn2 {
  background-color: #0072b1;
  border: none;
  width: 110px;
  height: 34px;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  position: relative;
  left: 4vh;
}

div img {
  width: 100%;
  height: 500px;
}

@media (max-width: 782px) {
  div img {
    width: 100%;
    height: 50%;
  }
}
