$primary-color: #0072B1;
$secondary-color: #B33E00;
$background-color:#F4F4F4;

// Gray Color Shades
$grey-1: #E0E0E0;
$grey-2: #BDBDBD;
$grey-3: #828282;
$grey-4: #4F4F4F;
$grey-5: #333333;

// State Color Variants
$info: #2f80ed;
$successs: #2fae60;
$warning: #ff9e0d;
$error: #e70b0b;

// Other Colors
$blue-sky: #c5ebfc;