@import 'config';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

body {
    background-color: $background-color;
    font-family: $nunito;
    line-height: 16px;
    letter-spacing: 2;
}

ul, ol, li {
    list-style-type: none;
}

button {
    cursor: pointer;
}

h1, h2, h3,h4, h5, h6 {
    font-weight: 700;
    color: $grey-4;
}

input::placeholder, input, p {
    color: $grey-4;
}

#main {
    width: 100vw;
    height: 100vh;

    // target the "left" and "right" id's
    display: grid;
    grid-template-columns: .75fr 1fr;

    #left {
        background: url('../svg/left-bg.svg');
        background-repeat: repeat-x;
        background-color: $primary-color;
        position: relative;

        & > ol {
            position: absolute;
            right: 9.5%;
            top: 35vh;

            font-weight: 400;
            font-size: 22px;
            color: $grey-1;

            list-style-position: outside;

            li {
                list-style-type: decimal;
                padding: 15px 0 15px 10px;
            }
            .active {
                list-style-image: url("../svg/check.svg");
            }
            .current {
                font-weight: 700;
            }
        }
    }

    #right {
        padding: 8.5vh 10% 0 10%;
        color: #000;
        background-color: $background-color;

        & > h2 {
            margin-bottom: 6.5vh;
            line-height:1;
        }

        // generally scoped
        h4 {
            width: 100%;
            border: 1.35px solid $grey-3;
            border-top: 0;
            border-left: 0;
            border-right: 0;
            padding: 0 0 5px 0;
        }
            
        .form {
            margin: 7.5px 0 0 0;

            h5 {
                padding: 0 0 9px 4.5px;
            }
            
            input {
                border: 1px solid darken($blue-sky, 50%);
                border-radius: 5px;
                outline: 0;
                font-size: 18px;
                background-color: transparent;
                padding: 8.5px 7.5px;
                width: 100%;
            }
            
            .donor {
                border: 2px solid $primary-color;
            }
        }

        // first form section
        .first-form {
            margin-bottom: 15px;
            

            h1 {
                border: 1.35px solid $grey-3;
                border-top: 0;
                border-left: 0;
                border-right: 0;
                padding: 0 0 20px 0;
            }

            .name {
                width: 95%;
                padding: 15px 10px;
                margin: 0 0 5px 0;
            }
        
            .first-form-2 {
                display: grid;
                grid-template-columns: .7fr 1fr;
                gap: 8.5%; grid-gap: 8.5%;
                width: 95%;

                .first-form-3 {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 5.5%; grid-gap: 5.5%;
                }
            }
        }

        // Second Form
        .second-form {
            .second-form-2 {
                width: 95%;
                display: grid;
                grid-template-columns: 1fr .85fr;
                gap: 12.5%; grid-gap: 12.5%;
            }
        }

        // Third Form
        // Applicable only to funds-goal.html
        .third-form {
            width: 95%;
            margin-top: 15px;

            h4 {
                margin-bottom: 5px;
            }

            & > div {
                display: grid;
                grid-template-columns: 1fr .85fr;
                gap: 12.5%; grid-gap: 12.5%;

                .account-number {
                    margin-left: 5%;
                }
            }
        }

        // fourth Form
        // Applicable only to capture.html
        .fourth-form {
            .capture {
                width: 50%;
                margin: 40px auto 0 auto;

                .capture-output {
                    border: 1px solid $primary-color;
                    min-height: 250px;
                    max-height: 300px;
                    min-width: 200px;
                    text-align: center;
                    overflow: hidden;
                    border-radius: 5px;
                    position: relative;
                    background: url('../svg/capture.png');
                    background-position: center;

                    // center output
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    label {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        background-color: transparent;
                        z-index: 10;
                    }
                    & > img {
                        // position: absolute;
                        height: 100%;
                        width: 100%;
                        border: 0;
                        outline: 0;
                        // transform: scale(1.5);
                        
                    }
                    // p {
                    //     position: relative;
                    //     z-index: 5;
                    // }
                }
                .capture-input {     
                    margin-top: 30px;
                    width: 100%;
                    text-align: center;
                    
                    input {
                        display: none;
                    }

                    .capture-button {
                        cursor: pointer;
                        width: 100px;
                        padding: 10px 20px;
                        border: 2px solid $info;
                        border-radius: 5px;
                        font-size: 15px; 
                        background-color: $info;
                        color: $background-color;
                        margin: 0 auto;
                        
                        &:hover {
                            background-color: darken($blue-sky, 50%);
                            border: 2px solid darken($blue-sky, 45%);
                        }
        
                        &:active {
                            background-color: $info;
                            color: $background-color;
                            border: 2px solid $info;
                        }
                    }
                }
            }
        }

        // Fifth Form
        // Applicable only to Funds-goal.html
        .fifth-form {
            width: 95%;
            margin-bottom: 70px;

            h4 {
                margin-bottom: 50px;
            }

            p {
                margin-bottom: 35px;
            }

            input {
                padding: 20px 10px;
            }
        }


        // BUTTONS
        .buttons {
            position: relative;
            margin: 70px 0 20px 0;
            width: 95%;

            button {
                width: 100px;
                padding: 10px 20px;
                border: 1px solid $info;
                border-radius: 5px;
                font-size: 15px;    
                color: $grey-5;
            }

            .back-button {
                transition: .5s ease-in-out;

                &:hover {
                    background-color: $info;
                    color: $background-color;
                }

                &:active {
                    background-color: transparent;
                    color: $grey-5;

                }
            }
            .next-button {
                transition: .5s ease-in-out;
                background-color: $info;
                color: $background-color;
                position: absolute;
                right: 0;

                &:hover {
                    background-color: darken($blue-sky, 50%);
                    border-color: darken($blue-sky, 45%);
                }

                &:active {
                    background-color: $info;
                    color: $background-color;
                    border: 2px solid $info;
                }
            }

            .donor {
                border: 2px solid $primary-color;
            }
        }
    }
}


#main {
    overflow: hidden;
    
    #left {
        overflow: hidden;
    }
    #right {
    overflow-y: scroll;
    }
}



@import 'media';