@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap");
/*Root Variables*/
:root {
  --text-color: #333333;
  --text-light-color: #828282;
  --bg-color: #f4f4f4;
  --white-color: #ffffff;
  --btn-color: #b33e00;
  --btn-hover-color: #b33e00;
  --text-blue-color: #0072b1;
  --bg-blue-color: #30b5ff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: var(--bg-color);
  scroll-behavior: smooth;
  color: var(--text-color);
}

/*Hide hamburger on desktop*/
.burger {
  display: none;
}

.main-content {
  display: flex;
}

/*Navbar styles*/
.aside-content {
  position: fixed;
  height: 100vh;
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.main-sub-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.brand-logo {
  width: 150px;
  height: 50px;
  margin: 20px auto;
}

.brand-img {
  width: 90px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.link-items {
  margin: 20px 0;
}

.link {
  list-style: none;
  margin: 10px auto;
  padding: 10px 15px 10px 5px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--white-color);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.fa-th-large,
.fa-heart-o,
.fa-briefcase,
.fa-bell-o {
  color: var(--text-light-color);
  padding-left: 45px;
  font-family: "FontAwesome", "Nunito", sans-serif;
}

.link:hover,
.fa:hover {
  background-color: var(--bg-blue-color);
  color: var(--text-blue-color);
}

.link-ref {
  text-decoration: none;
  cursor: pointer;
  margin-left: 20px;
  color: var(--text-light-color);
  font-size: 16px;
  font-weight: 500;
}

.link-ref:hover {
  color: var(--text-blue-color);
  background-color: var(--bg-blue-color);
}

.btn-profile {
  display: flex;
  text-decoration: none;
  color: var(--text-color);
  font-size: 18px;
  font-weight: 500;
  width: 80%;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  border-radius: 10px;
  padding: 20px;
  margin: 100px auto;
}

.btn-profile:hover {
  background-color: #e0e0e0;
}

.btn-campaign {
  width: 80%;
  height: 35px;
  background-color: var(--btn-color);
  color: var(--white-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  margin: 10px auto;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn {
  width: 150px;
  height: 30px;
  background-color: var(--btn-color);
  color: var(--white-color);
  text-align: center;
  font-size: 14px;
  font-weight: 200;
  margin: 10px auto;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover,
.btn-campaign:hover {
  background-color: var(--btn-hover-color);
}

.profile-link-img,
.profile-link-icon {
  margin: 10px;
}

.profile-link-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}

/*Dashboard Styles*/
.dashboard-data {
  position: absolute;
  width: 75vw;
  left: 21vw;
  flex: 6;
  margin: 40px auto;
}

.donation-status {
  color: green;
}

.dashboard-data h1,
.card h2 {
  color: var(--text-blue-color);
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
}

/*Dashboard data style*/
.user-card {
  display: flex;
  width: 45%;
  align-items: center;
}

.user-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 30px;
}

.user-status {
  display: flex;
  align-items: center;
}

.user-status h3 {
  font-size: 20px;
  width: 100%;
  color: var(--text-color);
  font-weight: 600;
}

.user-label {
  color: green;
  padding: 3px 5px;
  margin-left: 8px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: var(--white-color);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.user-label span {
  margin-right: 5px;
  font-size: 20px;
}

.user-card h4 {
  font-size: 16px;
  margin: 5px 0;
}

.about-user {
  height: 40px;
  width: 90%;
  border: none;
  padding: 5px;
  outline: none;
  border-radius: 5px;
  background-color: var(--white-color);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/*Activities section style*/

/*Cards styles*/
.activities-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px auto;
}

.card {
  background-color: var(--white-color);
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  text-align: center;
  width: 20%;
  padding: 10px;
}

.card h4 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 20px;
}

/*Dashboard body*/
.dashboard-body {
  display: flex;
}

.profile-campaigns {
  flex: 1;
  width: 100%;
  margin-right: 5%;
}

.profile-info {
  width: 100%;
  margin-bottom: 20px;
}

.profile-heading {
  display: flex;
  justify-content: space-between;
}

.profile-heading h4,
.dashboard-info h3,
.data-card-heading {
  font-size: 22px;
  color: var(--text-blue-color);
  font-weight: 600;
}

.data-card-heading {
  margin-bottom: 5px;
}

.edit-profile {
  text-decoration: none;
  font-size: 16px;
  color: var(--text-blue-color);
  font-weight: 300;
}

.profile-container {
  margin: 5px 0;
  padding: 15px 40px;
  border-radius: 10px;
  background-color: var(--white-color);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.profile-container > * {
  padding: 10px 0;
}

.profile-container h3 {
  font-size: 16px;
  font-weight: 500;
}

.profile-container h3 span {
  font-weight: 200;
  font-size: 16px;
}

.dashboard-info {
  flex: 1;
  width: 100%;
}

.data-display {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.data-card {
  background-color: var(--white-color);
  border-radius: 10px;
  width: 45%;
  height: 280px;
  margin-bottom: 30px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.data-card h4 {
  text-align: center;
  margin: 10px auto;
  font-size: 22px;
  color: var(--text-color);
  font-weight: 600;
}

/*Table styles*/
.dashboard-table {
  width: 100%;
  padding: 20px auto;
  background-color: var(--white-color);
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

table {
  width: 90%;
  margin: 20px auto;
  font-family: "Nunito", sans-serif;
  border-collapse: collapse;
  color: var(--text-color);
  padding: 20px 40px;
}

.cause-name,
.date {
  color: var(--text-light-color);
}

td,
th {
  border: none;
  text-align: left;
  padding: 8px;
}

tr,
td {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
}

tr:hover,
tr:nth-child(even):hover {
  background-color: var(--text-blue-color);
  color: var(--white-color);
}

th {
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px 20px 20px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/* Progress bar styles */
.mkCharts {
  margin: 15% 25%;
}

.mkc_circle {
  animation: mck_progress 1000ms ease-in-out;
}
@keyframes mck_progress {
  0% {
    stroke-dasharray: 0, 100;
  }
}

/*Mobile Responsive View Styles*/
@media screen and (max-width: 768px) {
  .burger {
    display: block;
    margin-left: 85%;
    margin-top: 20px;
  }

  .burger div {
    width: 25px;
    height: 3px;
    background-color: var(--text-blue-color);
    margin: 3px;
    transition: all 0.3s ease;
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 3.5px);
  }

  .toggle .line2 {
    opacity: 0;
  }

  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -3.5px);
  }

  .main-content {
    display: block;
    width: 100%;
  }

  .aside-content {
    z-index: 1;
    position: fixed;
    top: 0;
    left: -100%;
    bottom: 0;
  }

  .aside-content.active {
    left: 0;
  }

  .brand-logo {
    width: 110px;
    height: 40px;
  }

  .link-items {
    margin: 15px 0;
  }

  .btn-campaign {
    width: 80%;
    font-size: 12px;
  }

  .btn {
    width: 100px;
  }

  /*Dashboard Styles*/

  .dashboard-data {
    display: block;
    width: 100%;
    left: 0;
    margin: 0;
  }

  .dashboard-data h1 {
    text-align: center;
  }

  .dashboard-data h1,
  .card h2 {
    font-size: 26px;
    margin: 10px;
  }

  .activities {
    font-size: 22px;
    margin: 10px;
  }

  .activities-cards {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
  }

  .card {
    width: 60%;
    margin: 15px auto;
  }

  .card h4 {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  /*
  

  /*Dashboard data style*/
  .user-card {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }

  .user-img {
    margin: 10px auto;
  }

  .user-status {
    display: flex;
    flex-direction: column;
  }

  .user-status h3 {
    font-size: 24px;
  }

  .user-label {
    font-size: 12px;
  }

  .user-card h4 {
    text-align: center;
    margin: 10px auto;
  }

  .about-user {
    width: 100%;
    margin: 15px auto;
  }

  /*Dashboard body*/

  .dashboard-body {
    display: flex;
    flex-direction: column;
  }

  .profile-campaigns {
    width: 90%;
    margin: 5px auto;
  }

  .profile-heading h4,
  .dashboard-info h3,
  .data-card-heading {
    font-size: 18px;
  }

  .edit-profile {
    font-size: 14px;
  }

  .profile-container {
    padding: 15px 20px;
  }

  .data-display {
    display: flex;
    flex-direction: column;
  }

  .data-card {
    width: 80%;
    height: 280px;
    margin: 20px auto;
  }

  .data-card-heading {
    text-align: center;
    margin-top: 20px;
    margin-bottom: -15px;
  }

  .dashboard-table {
    width: 100%;
    padding: 5px 10px;
  }

  table {
    width: 100%;
    margin: 10px auto;
    padding: 20px 5px;
  }

  td,
  th {
    padding: 10px 5px;
  }

  tr,
  td {
    padding: 10px 5px;
    font-size: 10px;
    font-weight: 500;
    text-align: center;
  }

  th {
    font-size: 13px;
    padding: 8px 5px;
  }
}
