@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap");
/*Root Variables*/
:root {
  --text-color: #333333;
  --text-light-color: #828282;
  --bg-color: #f4f4f4;
  --white-color: #ffffff;
  --btn-color: #b33e00;
  --btn-hover-color: #b33e00;
  --text-blue-color: #0072b1;
  --bg-blue-color: #30b5ff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: var(--bg-color);
  scroll-behavior: smooth;
  color: var(--text-color);
}

/*Hide hamburger on desktop*/
.burger {
  display: none;
}

.main-content {
  display: flex;
}

/*Navbar styles*/
.aside-content {
  position: fixed;
  height: 100vh;
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.main-sub-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.brand-logo {
  width: 150px;
  height: 50px;
  margin: 20px auto;
}

.brand-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.link-items {
  margin: 20px 0;
}

.link {
  list-style: none;
  margin: 10px auto;
  padding: 10px 15px 10px 5px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--white-color);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.fa-th-large,
.fa-heart-o,
.fa-signal,
.fa-bell-o {
  color: var(--text-light-color);
  padding-left: 45px;
  font-family: "FontAwesome", "Nunito", sans-serif;
}

.link:hover,
.fa:hover {
  background-color: var(--bg-blue-color);
  color: var(--text-blue-color);
}

.link-ref {
  text-decoration: none;
  cursor: pointer;
  margin-left: 20px;
  color: var(--text-light-color);
  font-size: 16px;
  font-weight: 500;
}

.link-ref:hover {
  color: var(--text-blue-color);
  background-color: var(--bg-blue-color);
}

.btn-profile {
  display: flex;
  text-decoration: none;
  color: var(--text-color);
  font-size: 18px;
  font-weight: 500;
  width: 80%;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  border-radius: 10px;
  padding: 20px;
  margin: 100px auto;
}

.btn-profile:hover {
  background-color: #e0e0e0;
}

.btn-donate {
  width: 80%;
  height: 35px;
  background-color: var(--btn-color);
  color: var(--white-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  margin: 10px auto;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn {
  width: 150px;
  height: 30px;
  background-color: var(--btn-color);
  color: var(--white-color);
  text-align: center;
  font-size: 14px;
  font-weight: 200;
  margin: 10px auto;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover,
.btn-donate:hover {
  background-color: var(--btn-hover-color);
}

.profile-link-img,
.profile-link-icon {
  margin: 10px;
}

.profile-link-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}

/*Dashboard Styles*/
.dashboard-data {
  position: absolute;
  width: 75vw;
  left: 21vw;
  flex: 6;
  margin: 40px auto;
}

.donation-status {
  color: green;
}

.dashboard-data h1,
.card h2 {
  color: var(--text-blue-color);
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
}

/*Dashboard banner style*/
.dashboard-banner {
  background-color: var(--text-blue-color);
  color: #fff;
  padding: 20px 40px;
  position: relative;
}

.fa-times {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: var(--bg-blue-color);
  color: var(--white-color);
  padding: 15px;
  font-size: 16px;
  border-radius: 50%;
}

.dashboard-banner h2,
.activities {
  font-size: 28px;
  font-weight: 600;
}

.dashboard-banner p {
  width: 45%;
  font-size: 16px;
  line-height: 28px;
  margin: 10px 0;
}

/*Activities section style*/
.activities {
  color: var(--text-blue-color);
  margin-bottom: 18px;
}

/*Cards styles*/
.activities-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px auto;
}

.card {
  background-color: var(--white-color);
  border-radius: 4px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  text-align: center;
  width: 30%;
  padding: 10px;
}

.card h4 {
  margin-bottom: 20px;
  font-size: 20px;
}

.dashboard-table {
  width: 100%;
  background-color: var(--white-color);
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/*Table styles*/
table {
  width: 90%;
  margin: 10px auto;
  font-family: "Nunito", sans-serif;
  border-collapse: collapse;
  color: var(--text-color);
  padding: 20px 40px;
}

.cause-name,
.date {
  color: var(--text-light-color);
}

td,
th {
  border: none;
  text-align: left;
  padding: 8px;
}

tr,
td {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 600;
}

tr:hover,
tr:nth-child(even):hover {
  background-color: var(--text-blue-color);
  color: var(--white-color);
}

th {
  font-size: 20px;
  font-weight: 600;
  padding: 10px 20px 20px 20px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/*Mobile Responsive View Styles*/
@media screen and (max-width: 768px) {
  .burger {
    display: block;
    margin-left: 85%;
    margin-top: 20px;
  }

  .burger div {
    width: 25px;
    height: 3px;
    background-color: var(--text-blue-color);
    margin: 3px;
    transition: all 0.3s ease;
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 3.5px);
  }

  .toggle .line2 {
    opacity: 0;
  }

  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -3.5px);
  }

  .main-content {
    display: block;
    width: 100%;
  }

  .aside-content {
    z-index: 1;
    position: fixed;
    top: 0;
    left: -100%;
    bottom: 0;
  }

  .aside-content.active {
    left: 0;
  }

  .brand-logo {
    width: 110px;
    height: 40px;
  }

  .link-items {
    margin: 15px 0;
  }

  .btn-donate {
    width: 75%;
  }

  .btn {
    width: 120px;
  }

  .dashboard-data {
    display: block;
    position: relative;
    width: 100%;
    left: 0;
    margin: 0;
  }

  .dashboard-data h1,
  .card h2 {
    font-size: 26px;
    margin: 10px;
  }

  .dashboard-banner {
    width: 95%;
    margin: 10px auto;
    padding: 20px;
    height: 200px;
  }

  .fa-times {
    padding: 10px;
    font-size: 12px;
    position: absolute;
    top: 15px;
    right: 15px;
  }

  .dashboard-banner h2,
  .activities {
    font-size: 22px;
  }

  .activities {
    margin: 10px;
  }

  .dashboard-banner p {
    width: 100%;
    font-size: 16px;
    line-height: 23px;
    margin: 8px 0;
  }

  .activities-cards {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
  }

  .card {
    width: 60%;
    margin: 15px auto;
  }

  .card h4 {
    font-size: 16px;
  }

  .dashboard-table {
    width: 100%;
  }

  table {
    width: 100%;
    margin: 10px auto;
    padding: 20px 5px;
  }

  td,
  th {
    padding: 10px 5px;
  }

  tr,
  td {
    padding: 10px 5px;
    font-size: 10px;
    font-weight: 500;
    text-align: center;
  }

  th {
    font-size: 13px;
    padding: 8px 5px;
  }
}
